$font-color:        black;
$background-color:  white;

$link-color:         #1A9D00;
$link-hover-color:   $link-color;
$link-visited-color: $link-color;

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1.5;
}
ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

html {
  background-color: $background-color;
  color: $font-color;
}

body {
  font-size: 62.5%;
  font-family: Helvetica, Arial, sans-serif;
  background-color: $background-color;
  color: $font-color;
}

p {
  font-size: 1.1666em;
  line-height: 1.5;
  margin: 0 0 1.5em 0;
}

h1 {
  font-size: 2.5em;
  line-height: 1.5;
  margin-bottom: 1.5em;
}

h2 {
  font-size: 1.5em; /* 18px */
  line-height: 1em; /* 18px */
  margin-top: 1em;
  margin-bottom: 0.5em;
  font-weight: bold;
}

h3 {
  font-size: 1.1667em; /* 14px */
  line-height: 1.2857em; /* 18px */
  margin-top: 0.857em;
  margin-bottom: 0.428em;
  font-weight: bold;
}

h4 {
  font-size: 1.5em; /* 18px */
  line-height: 1em; /* 18px */
  margin-top: 1em;
  margin-bottom: 0em;
}

h5 {
  font-size: 1.3333em; /* 16px */
  line-height: 1.125em; /* 18px */
  margin-top: 1.125em;
  margin-bottom: 0em;
}

h6 {
  font-size: 1.1667em; /* 14px */
  line-height: 1.2857em; /* 18px */
  margin-top: 1.2857em;
  margin-bottom: 0em;
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

a {
  text-decoration: underline;
  cursor: pointer;
  
  &:link { color: $link-color; }
  &:visited { color: $link-visited-color; }
  
  &:hover {
    text-decoration: none;
    color: $link-hover-color;
  }
}

.container {
  font-size: 1.2em;
  width: 902px;
  margin: 0 auto;
  position: relative;
  padding-top: 3.333em;
}

.content {
  width: 562px;
  margin: 0 auto;
  position: relative;
  z-index: 100;
  
  &>h1 {
    margin-bottom: 0.25em;
  }
}

p {
  &.lid {
    color: #666;
    font-size: 1.5em;
    line-height: 1.2;
  }
  
  &.notice {
    font-size: 1.1666em;
  }
}

ul.taboo {
  list-style-type: none;
  //list-style-image: url('/images/market.gif');
  margin: 1em 0 2.5em 0;
  background: url("/images/no-sign.png") center no-repeat;
  
  &>li {
    &:before {
      content: '\2014\a0';
      float: left;
      margin-left: -1.25em;
    }
    
    &>* {
      text-indent: 0;
      
      &:first-child:-moz-first-node {
        margin-top: -1.2em;
      }      
    }
  }  
  
  li {
    display: inline-block;
    width: 45%;
    margin: 0.5em 1em 0.5em 1.3em;
    padding: 0;
    vertical-align: top;
    behavior: expression(
      ( !this.before && parentNode && parentNode.tagName == 'UL' )
      ?
        ( this.before = true )
        & ( parentNode.style.listStyleImage = 'none' )
        & (
          ( this.firstChild && this.firstChild.firstChild )
          ?
            ( this.firstChild.style.marginTop = '-1.2em' )
            & ( this.firstChild.style.position = 'relative' )
          : ''
        )
        & ( eNOBR = document.createElement( '<nobr style="position: relative; display: block; width: 1.25em; left: -1.25em; margin: 0 -1.25em -1.2em 0;" />' ) )
        & ( eNOBR.innerHTML = '&mdash;&nbsp;' )
        & ( this.insertBefore( eNOBR, this.firstChild ) )
      : ''
    );
  }
}