<% render "layout", :title => "Как правильно заполнять анонс" do %>
<div class="content">
  <h1>Как правильно заполнять анонс</h1>
  <p class="lid">
    Каждый зарегистрированный пользователь может добавить анонс в ленту событий Теорий и практик. Перед публикацией все анонсы проходят модерацию. 
    Добавить или изменить информацию в анонсе можно до тех пор, пока он не опубликован.
  </p>
  <p class="notice">
    <strong>Теории и практики не публикуют</strong> анонсы событий, цель которых зарабатывать деньги и продвигать услуги или продукты. Анонс не будет опубликован,
    если он содержит недостаточно информации о лекторе, месте и времени проведения события и его организаторе, а текст анонса не раскрывает суть мероприятия.
  </p>
  <ul class="taboo">
    <li>Показы художественных кинофильмов без вступительного слова.</li>
    <li>Политически окрашенные события.</li>
    <li>Мастер-классы по танцам, спорту, игре на музыкальных инструментах и пению.</li>
    <li>Презентации книг и другой продукции (самопиар).</li>
    <li>Игры (городские, ролевые, настольные, бизнес).</li>
    <li>События, которые организуют секты, национальные общины, национальные движения.</li>
    <li>Детские мероприятия.</li>
    <li>События, где религия рассматривается не с культурологической точки зрения.</li>
    <li>Рукоделие.</li>
    <li>Единичные бесплатные ознакомительные уроки.</li>
    <li>«Зеленый чай»: цигун, тай-чи, фэн-шуй.</li>
    <li>Творческие встречи. Если мы публикуем встречу, то исходя из критерия разумного выбора.</li>
    <li>События, связанные с духовной практикой, психологией, изотерикой, эзотерикой, гомеопатией, самопознанием (тренинги личностного роста).</li>
  </ul>
</div>
<% end %>